.img {
width: 50%;
height: max-content;
}

.profile{
  background-color: rgb(34, 43, 69);;
}

.name{
  margin: 0px;
    font-size: 2.375rem;
    font-weight: 600;
    font-family: ShamansFuthark;
    line-height: 48px;
    color: rgb(238, 238, 239);
    box-sizing: inherit;
}